.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

nav {
  margin-bottom: 20px;
}

button {
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

button.active {
  border-bottom: 2px solid cyan;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.not-authorized, .checking-auth {
  color: red;
  font-size: 18px;
  margin-top: 20px;
}
