.message-sender .log-container {
  margin-top: 20px;
  padding: 10px;
  background-color: #2c2f33;
  border-radius: 8px;
}

.message-sender .log-container h3 {
  color: #00ddee;
}

.message-sender .log-messages {
  max-height: 150px;
  overflow-y: auto;
  background-color: #23272a;
  padding: 10px;
  border-radius: 8px;
}

.message-sender .log-message {
  color: #ffffff;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 1.4;
}
